<p id="”alert”"><%= alert %></p>
<div id="fullBg" />

   <div class="container">

      <br><br><br>
      <figure>
         <h4 class= "glow" id="pad_a" >please login</h4>
      </figure>
      <div class="login_section">
        <%= form_tag sessions_path do |form| %>
         <%= text_field_tag :email, "",placeholder: "Email Address" %>
         <br>
         <%= password_field_tag :password,"", placeholder: "Password" %>
         <br>
         <br>
         <%= submit_tag "login" , :class=>"btn btn-danger" %>

      <% end %>
        </div>
   </div>
