
<div id="fullBg" />

   <div class="container" style="padding-top: 50px;">

      <%= form_for(@user_post) do |f| %>
      <br><br><br>



      <div class="post_section">


        <h4  >New Post</h4>
        <br>
        <br>
        <ul>
          <% if @user_post.errors.any? %>
            <% @user_post.errors.full_messages.each do |msg| %>
              <li><%= msg %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="form_lines">
          <div id="post_form">
            <div id="title" class="inline">
              <%= f.label :title, "Post Title" %>
              <%= f.text_field :title , :class => "form-control"%><br>
            </div>
            <div id="Lat"class="inline">
              <%= f.label :latitude, "Enter Latitude" %>
              <%= f.text_field :latitude , :class => "form-control"%><br>
            </div>
        </div>
        <div class="form_lines">
          <div id="desc" class="inline"">
            <%= f.label :desc, "Enter Description" %>
            <%= f.text_area :desc , :class => "form-control"%><br>
          </div>
          <div id="Long"class="inline">
            <%= f.label :longitude, "Enter Longitude" %>
            <%= f.text_field :longitude , :class => "form-control"%><br>
           </div>
        </div>
         <div id="image">
           <%= f.label :image, "Enter Image" %>
           <%= f.file_field :image , :class => "form-control-file"%>
         </div>
         <div id="submit" >
           <input name="post[user_id]" value="<%= @user.id%>" type="hidden">
           <br>
           <br>
           <br>
           <%= f.submit class: "btn btn-danger"%>
         </div>
        </div>
      <% end %>
        </div>
   </div>
