<h1>New Post</h1>
<br>
<br>

<ul>
  <% if @user_post.errors.any? %>
    <% @user_post.errors.full_messages.each do |msg| %>
      <li><%= msg %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for(@user_post) do |f| %>

<%= f.label :title, "Enter Title" %>
<%= f.text_field :title %><br>
<%= f.label :image, "Enter Image" %>
<%= f.file_field :image %>
<%= f.label :desc, "Enter Description" %>
<%= f.text_area :desc%><br>
<%= f.label :location, "Enter Location" %>
<%= f.text_field :location%><br>
<input name="post[user_id]" value="<%= @user.id%>" type="hidden">

<%= f.submit %>
<% end %>