
<div id="fullBg" />

   <div class="container" style="padding-top: 50px;">

      <%= form_for(@user_post) do |f| %>
      <br><br><br>



      <div class="post_section">


        <h4  >new post</h4>
        <br>
        <br>
        <ul>
          <% if @user_post.errors.any? %>
            <% @user_post.errors.full_messages.each do |msg| %>
              <li><%= msg %>
              </li>
            <% end %>
          <% end %>
        </ul>
         <%= f.label :title, "Enter Title" %>
         <%= f.text_field :title , :class => "form-control"%><br>
         <%= f.label :image, "Enter Image" %>
         <%= f.file_field :image , :class => "form-control-file"%>
         <%= f.label :desc, "Enter Description" %>
         <%= f.text_area :desc , :class => "form-control"%><br>
         <%= f.label :latitude, "Enter LAT" %>
         <%= f.text_field :latitude , :class => "form-control"%><br>
         <%= f.label :longitude, "Enter LONG" %>
         <%= f.text_field :longitude , :class => "form-control"%><br>

         <input name="post[user_id]" value="<%= @user.id%>" type="hidden">
         <br>
         <%= f.submit class: "btn btn-danger"%>
      <% end %>
        </div>
   </div>
