<p id="notice"><%= notice %></p>

<h1>
  <u><%=@user.name%></u>
</h1>
<h2>
  <%= @user.teams[0].name %>

</h2>
<% if @logged_in_user.id == @user.id %>
  <%= link_to "Edit this Profile", edit_user_url(@user)%>
  <%= button_to "Delete this User Account", @user, method:"delete" %>
  <%=link_to "New Post", new_post_url %>
  <p>
    <strong>Email:</strong><%= @user.email %></p>
<% end %>

<h2>My Posts</h2>

<ul>
  <% @user.entry.each do |p| %>
    <li><%=link_to p.title, post_path(p) %></li>
  <% end%>
</ul>

<hr>

<h2>Favoritez</h2>

<ul>
  <% @user.posts.each do |p| %>
    <li><%=link_to p.title, post_path(p) %></li>
  <% end%>
</ul>