<div class="show_content">
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@post.longitude%>, <%=@post.latitude%>)
    });
    </script>



<div class="row">



     <div class="card mb-4">
       <img class="card-img-top" src="http://placehold.it/750x300">
       <div class="card-body">
         <h2 class="card-title"> <%= @post.title %> </h2>
         <p class="card-text"> <%= @post.desc %> </p>
       </div>
       <div class="card-footer text-muted">
         Posted by <%= link_to @post.user.name , user_path(@post.user) %>
       </div>
     </div>


<div class="user_button">
<% if @logged_in_user.id == @post.user_id %>
<br>
  <%= link_to "Edit this Post", edit_post_url(@post)%>
  <%= button_to "Delete this Post", @post, method:"delete" %>
  <br>
<% end %>
</div>
</div>
