<!DOCTYPE html>
<html>
  <head>
    <title>Onesixone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBScc4pzumdjCf22-UZuIMBPMm77MGvolI'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


    <% if current_user %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">onesixone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Log Out", logout_path ,:class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", posts_path , :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Teams", teams_path , :class => "nav-link" %>
        </li>
      </ul>
      <span class="navbar-text" id="white">
        Hello! <u><i><%= link_to current_user.name, user_path(current_user)%></i></u>
      </span>
    </div>
  </div>
</nav>
    <% else %>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">onesixone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Sign Up", signup_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", login_path , :class => "nav-link"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <% end %>


    <%= yield  %>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">made with 💜 Shemar <span id="blue">//</span> Elliot</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>
</html>
